body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: auto;
}
header {
    font-weight: bolder;
    font-size: xx-large;
}

#money {
    border: lightgrey solid 1px;
    border-radius: 5px;
    margin-top: 20px;
}
.container {
    margin: 20px;
}
.bankbalance {
    display: flex;
}
.btn-work {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.btn-loan {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.container2 {
    margin: 30px 0px;
}
#computers {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.btn-buy {
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
   
}

